[features]
seeds = false
skip-lint = false

[programs.localnet]
flowmint = "CmPS9FdZQ4ex9A45yjvJGAjPBdBj6oYY9juQMfdzBJdi"

[programs.devnet]
flowmint = "CmPS9FdZQ4ex9A45yjvJGAjPBdBj6oYY9juQMfdzBJdi"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 5000

[test.validator]
url = "https://api.devnet.solana.com"
